body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

a {
    color: white;
    text-decoration: none ;
}

}

img {
    width: 900px;
    height: 525px;
}
.center{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 10px;
    margin: 0 30cm;
    padding: 0px;
}


.center {
    text-align: center;
}
.center {
    text-align: center;
}